sh>=1.11
Pillow>=4.2.1
scour>=0.35
pandocfilters>=1.4.1
Markdown>=2.6.8
mkdocs>=0.16.3
pymdown-extensions>=3.1.0
pyembed>=1.3.3
pyembed-markdown>=1.1.0
markdown-include>=0.5.1
mdx_outline>=1.2.1
mdx_sections>=0.1
mdx_customspanclass>=1.1.1
mdx_cite>=1.0
mdx_collapse>=0.1.0
fontawesome-markdown>=0.2.6
markdown-attr-plus>=0.3.0
mdx_bleach>=0.1.0
git+git://github.com/mkszk/mdx_figcap.git
git+https://github.com/twardoch/markdown-steroids.git
